/* TipTap Editor Styles */
.ProseMirror {
  outline: none;
  min-height: 120px;
  text-align: left;
}

.ProseMirror p[style*='text-align: center'] {
  text-align: center !important;
}

.ProseMirror p[style*='text-align: right'] {
  text-align: right !important;
}

.ProseMirror p[style*='text-align: left'] {
  text-align: left !important;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
  margin: 1em 0;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ol {
  list-style-type: decimal;
}

.ProseMirror li {
  margin: 0.5em 0;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
  margin: 1em 0 0.5em 0;
}

.ProseMirror h1[style*='text-align: center'],
.ProseMirror h2[style*='text-align: center'],
.ProseMirror h3[style*='text-align: center'] {
  text-align: center !important;
}

.ProseMirror h1[style*='text-align: right'],
.ProseMirror h2[style*='text-align: right'],
.ProseMirror h3[style*='text-align: right'] {
  text-align: right !important;
}

.ProseMirror h1[style*='text-align: left'],
.ProseMirror h2[style*='text-align: left'],
.ProseMirror h3[style*='text-align: left'] {
  text-align: left !important;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.ProseMirror h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
  padding: 0.25rem 0.375rem;
  border-radius: 0.25rem;
  font-size: 0.875em;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin: 1em 0;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror mark {
  background-color: #faf594;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #0d0d0d;
  margin: 2em 0;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #0d0d0d;
  margin: 1em 0;
  font-style: italic;
}

.ProseMirror table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.ProseMirror table td,
.ProseMirror table th {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.ProseMirror table th {
  background-color: #f1f3f4;
  font-weight: bold;
}

.ProseMirror table .selectedCell:after {
  background: rgba(200, 200, 255, 0.4);
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.ProseMirror table .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}

.ProseMirror table p {
  margin: 0;
}

.ProseMirror .tableWrapper {
  margin: 1.5em 0;
  overflow-x: auto;
}

.ProseMirror .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
